<!--
============================================================
  S130 장바구니 페이지 - Cafe24 모듈 버전
  카페24 스킨편집기 > cart.html 에 붙여넣기
  
  이 페이지는 카페24 기본 장바구니 모듈을 사용합니다.
  카페24 관리자에서 자동으로 장바구니 기능이 연동됩니다.
============================================================
-->

<!--@layout(/layout/basic/header.html)-->

<div id="container">
	<div id="contents">
		<div class="contents">
			<div class="sub-page-wrap">
				<h1 class="sub-page-title">CART</h1>
				<p class="sub-page-desc">장바구니에 담긴 상품을 확인하세요.</p>

				<!-- 장바구니 일반상품 목록 -->
				<div module="Order_NormalType" class="xans-element- xans-order xans-order-normaltotal">
					<div class="ec-base-table typeList">
						<table>
							<thead>
								<tr>
									<th scope="col"><input type="checkbox" onclick="EC_SHOP_FRONT_NEW_ORDER_BASKET.checkAll(this, 'normal');" checked="checked"></th>
									<th scope="col">이미지</th>
									<th scope="col">상품정보</th>
									<th scope="col">수량</th>
									<th scope="col">판매가</th>
									<th scope="col">합계</th>
									<th scope="col">선택</th>
								</tr>
							</thead>
							<tbody class="xans-element- xans-order xans-order-normallist">
								<tr class="xans-record-">
									<td><input type="checkbox" name="normal_basket_chk" value="{$basket_product_no}" checked="checked"></td>
									<td><a href="{$link_product_detail}"><img src="{$image_medium}" alt="{$product_name}"></a></td>
									<td class="left"><a href="{$link_product_detail}">{$product_name}</a><br>{$product_option}</td>
									<td>{$quantity}</td>
									<td>{$product_sale_price}</td>
									<td><strong>{$total_price}</strong></td>
									<td>
										<a href="#" onclick="{$action_delete}">삭제</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="ec-base-button">
						<a href="#" onclick="{$action_order_selected}" class="btn-login">선택 상품 주문</a>
						<a href="#" onclick="{$action_order_all}" class="btn-login">전체 상품 주문</a>
					</div>

					<!-- 장바구니 비어있을 때 -->
					<div class="cart-empty displaynone" style="text-align:center;padding:80px 0;">
						<p>장바구니가 비어있습니다.</p>
						<a href="/product/list.html" class="btn-continue">쇼핑 계속하기</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<!--@layout(/layout/basic/footer.html)-->
